/* Define color variables */
:root {
    --primary-color: #001f3f; /* Navy blue */
    --primary-border-color: #0056b3; /* Darker blue */
    --secondary-color: #6c757d; /* Gray */
    --background-color: #f8f9fa; /* Light background */
    --text-color: #d9dce7; /* Dark text */
    --sub-text-color: #cbcdd3; /* Slightly darker than text */
    --overlay-color: rgba(0, 0, 0, 0.5);
    --transparent-background: rgba(0, 31, 63, 0.041);
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

/*================================================================*/
/*  Hero.
/*================================================================*/
.hero-section {
    position: relative;
    height: 25vh;
    background: url('images/background1.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-attachment: fixed; /* Adds the parallax effect */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color); /* Semi-transparent overlay for readability */
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero-content h1 {
    font-size: 4em;
    margin: 0;
}

.hero-content p {
    font-size: 1.5em;
    color: var(--text-color);
}

/*================================================================*/
/*  Header Section / About Me.
/*================================================================*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* Single column for grid container */
    grid-gap: 20px; /* Space between grid items */
    margin-top: 60px; /* Adjust to accommodate the height of the top rectangle */
    padding: 20px;
}

.header-about-container {
    background: var(--primary-color);
    padding: 50px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: var(--text-color); /* Ensure text color is set */
}

.header, .about {
    flex: 1;
    padding: 20px;
}

.header .container, .about .container {
    background: transparent; /* Ensure containers are also transparent */
}

.header .subtitle {
    font-size: 1.2em;
    color: var(--sub-text-color);
}

/* Profile picture */
.profile-image {
    border-radius: 50%; /* Make the image circular */
    width: 150px;
    height: 150px;
    object-fit: cover; /* Ensures the image covers the whole area */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
    box-sizing: border-box;
}

.profile-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative;
    height: 200px;
}

.profile-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background: var(--sub-text-color);   
    z-index: 1;
}

.circle1 {
    width: 180px;
    height: 180px;
    top: -15px;
    left: -15px;
    border: 2px solid var(--text-color);
}

.circle2 {
    width: 200px;
    height: 200px;
    top: -25px;
    left: -25px;
    background: var(--sub-text-color);
}

/*================================================================*/
/* Dividers.
/*================================================================*/
.divider-projects {
    text-align: center;
    margin: 40px 0; /* Space around the divider */
    position: relative; /* Needed for pseudo-element positioning */
}

.divider-projects h2 {
    display: inline-block;
    padding: 10px 20px;
    color: var(--primary-color);
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Space between the title and the line */
    position: relative;
}

.divider::before, .divider::after {
    content: "";
    flex: 1;
    height: 4px; /* Make the line thicker */
    background-color: var(--primary-color);
}

.star {
    font-size: 1.5em; /* Adjust size as needed */
    color: var(--primary-color);
    margin: 0 10px; /* Space around the star */
}

/*================================================================*/
/* Portfolio.
/*================================================================*/
.grid-container-portfolio {
    display: grid;
    grid-template-columns: 1fr; /* Single column for grid container */
    grid-gap: 20px; /* Space between grid items */
    padding: 20px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.project-item {
    text-align: center;
    background-color: var(--primary-color); /* Navy blue background for squares */
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.project-item img {
    border-radius: 50%; /* Make the image circular */
    width: 150px;
    height: 150px;
    object-fit: cover; /* Ensures the image covers the whole area */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    background-color: var(--background-color); /* Ensure the background color is set */
    padding: 5px; /* Padding to create space between the image and the border */
}

.project-item h3 {
    margin: 10px 0 5px;
    color: var(--text-color); /* Ensure text color is set */
}

.project-item p {
    margin: 0;
    color: var(--sub-text-color); /* Ensure text color is set */
}



