@import "";

/* Define color variables */
:root {
    --primary-color: #001f3f; /* Navy blue */
    --primary-border-color: #0056b3; /* Darker blue */
    --secondary-color: #6c757d; /* Gray */
    --background-color: #f8f9fa; /* Light background */
    --text-color: #d9dce7; /* Dark text */
    --sub-text-color: #cbcdd3; /* Slightly darker than text */
    --overlay-color: rgba(0, 0, 0, 0.5);
    --transparent-background: rgba(0, 31, 63, 0.041);
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}
/*================================================================*/
/*  Hero.
/*================================================================*/
.hero-section {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: 25vh;
    background: url('images/background1.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    text-align: left;
    background-attachment: fixed; /* Adds the parallax effect */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color); /* Semi-transparent overlay for readability */
}

.hero-content {
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-name {
    font-size: 2em;
    margin: 0;
    padding-left: 20px; /* Add padding from the left edge */
    color: var(--text-color);
}

.hero-links {
    display: flex;
    gap: 20px; /* Space between the links */
    padding-right: 20px; /* Add padding from the right edge */
}

.hero-links .hero-link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2em;
    position: relative;
}

.hero-links .hero-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--text-color);
    transition: width 0.3s;
}

.hero-links .hero-link:hover::after {
    width: 100%;
}

.hero-links .hero-link.active,
.hero-links .hero-link.active::after {
    color: var(--active-color);
    width: 100%;
}
.menu-button {
    display: none;
    font-size: 1.5em;
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
}
/* Media query for smaller screens */
@media (max-width: 768px) {
    .hero-links {
        display: none;
        flex-direction: column;
        gap: 10px;
        background-color: var(--overlay-color);
        position: absolute;
        top: 50px;
        right: 20px;
        padding: 10px;
        border-radius: 5px;
    }

    .hero-links.show {
        display: flex;
    }

    .menu-button {
        display: block;
    }
}

/*================================================================*/
/*  Header Section / About Me.
/*================================================================*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* Single column for grid container */
    grid-gap: 20px; /* Space between grid items */
    margin-top: 30vh; /* Adjust to accommodate the height of the top rectangle */
    padding: 20px;
}
/* Ensure other sections are not given a higher z-index */
.header-about-container,
.divider-projects,
.projects,
.contact {
    position: relative; /* Ensure these sections have default positioning */
    z-index: 1; /* Ensure these sections are below the hero section */
    padding-top: 30px; /* Add padding to ensure content is visible below the fixed hero */
}

.header-about-container {
    background: var(--primary-color);
    padding: 50px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: var(--text-color); /* Ensure text color is set */
}

.header, .about {
    flex: 1;
    padding: 20px;
}

.header .container, .about .container {
    background: transparent; /* Ensure containers are also transparent */
}

.header .subtitle {
    font-size: 1.2em;
    color: var(--sub-text-color);
}

/* Profile picture */
.profile-image {
    border-radius: 50%; /* Make the image circular */
    width: 150px;
    height: 150px;
    object-fit: cover; /* Ensures the image covers the whole area */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
    box-sizing: border-box;
}

.profile-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative;
    height: 200px;
}

.profile-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background: var(--sub-text-color);   
    z-index: 1;
}

.circle1 {
    width: 180px;
    height: 180px;
    top: -15px;
    left: -15px;
    border: 2px solid var(--text-color);
}

.circle2 {
    width: 200px;
    height: 200px;
    top: -25px;
    left: -25px;
    background: var(--sub-text-color);
}

/*================================================================*/
/* Dividers.
/*================================================================*/
.divider-projects {
    text-align: center;
    margin: 40px 0; /* Space around the divider */
    position: relative; /* Needed for pseudo-element positioning */
}

.divider-projects h2 {
    display: inline-block;
    padding: 10px 10px;
    color: var(--primary-color);
}

.divider-contact {
    text-align: center;
    margin: 40px 0; /* Space around the divider */
    position: relative; /* Needed for pseudo-element positioning */
}

.divider-contact h2 {
    display: inline-block;
    padding: 10px 10px;
    color: var(--primary-color);
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Space between the title and the line */
    position: relative;
}

.divider::before, .divider::after {
    content: "";
    flex: 1;
    height: 4px; /* Make the line thicker */
    background-color: var(--primary-color);
}

.star {
    font-size: 1.5em; /* Adjust size as needed */
    color: var(--primary-color);
    margin: 0 10px; /* Space around the star */
}



/*================================================================*/
/* Portfolio.
/*================================================================*/
.grid-container-portfolio {
    display: grid;
    grid-template-columns: 1fr; /* Single column for grid container */
    grid-gap: 20px; /* Space between grid items */
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
}

.project-item {
    text-align: center;
    background-color: var(--primary-color); /* Navy blue background for squares */
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.project-item img {
    border-radius: 50%; /* Make the image circular */
    width: 150px;
    height: 150px;
    object-fit: cover; /* Ensures the image covers the whole area */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    background-color: var(--background-color); /* Ensure the background color is set */
    padding: 5px; /* Padding to create space between the image and the border */
}

.project-item h3 {
    margin: 10px 0 5px;
    color: var(--text-color); /* Ensure text color is set */
}

.project-item p {
    margin: 0;
    color: var(--sub-text-color); /* Ensure text color is set */
}
/*================================================================*/
/* Contact.
/*================================================================*/
.contact {
    padding: 60px 0;
}

.contact h2 {
    text-align: center;
    color: var(--primary-color); 
    margin-bottom: 40px;
}

.contact .container {
    max-width: 600px;
    margin: 0 auto;
}

.contact .form-label {
    font-weight: bold;
    color: var(--primary-border-color)
}

.contact .form-control {
    border: 1px solid var(--primary-border-color);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.contact .btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.contact .btn:hover {
    background-color: var(--primary-border-color);
}

